*{
  margin: 0;
  list-style: none;
}

body{
  background-color: rgb(33,36,40);
  padding-left: 2em;
  padding-right: 2em;
}

input, textarea{
  box-shadow: inset -5px 5px 0px #0a0b0c,
              inset 5px -5px 0px #282b30;
  border-color: #191B1E;
}

.btn-form{
  box-shadow: -7px 7px 11px #121315,
              7px -7px 11px #202327;
  color: #878e99;
}

.div-form, .div-left{
  box-shadow: -7px 7px 11px #202327,
                7px -7px 11px #121315;
}

.div-left p, h2{
  color: #878e99;
}
.div-form label{
  color: #878e99;
  margin-bottom: 10px;
  font-size: small;
}

.blog-card{
  background: linear-gradient(225deg, #1b1d20, #17181b);
  box-shadow:  -9px 9px 11px #15171a,
               9px -9px 11px #1d1f23;
}

