*{
  margin: 0;
  list-style: none;
}

body{
  background-color: rgb(33,36,40);
  padding-left: 2em;
  padding-right: 2em;
}

input, textarea{
  box-shadow: inset -5px 5px 0px #0a0b0c,
              inset 5px -5px 0px #282b30;
  border-color: #191B1E;
}

.btn-form{
  box-shadow: -7px 7px 11px #121315,
              7px -7px 11px #202327;
  color: #878e99;
}

.div-form, .div-left{
  box-shadow:  -11px 11px 8px #141518,
             11px -11px 8px #1e2124;
}

.div-left p, h2{
  color: #878e99;
  font-size: 20px;
}
.div-form label{
  color: #878e99;
  margin-bottom: 10px;
  font-size: small;
}

.blog-card{
  background: linear-gradient(225deg, #1b1d20, #17181b);
  box-shadow:  -9px 9px 11px #15171a,
               9px -9px 11px #1d1f23;
}

.resume{
  background: linear-gradient(225deg, #1b1d20, #17181b);
  box-shadow:  -11px 11px 26px #141518,
             11px -11px 26px #1e2124;
}

.skill h2{
  color: #E2024E;
}

.skill h1{
  color: #878e99;
  font-size: 40px;
  font-weight: bold;
}

.skill p{
  color:#878e99;
  font-size: 15px;
}

.skill .div-skill{
  box-shadow: inset -11px 11px 32px #040405,
            inset 11px -11px 32px #101213;
}

.btn-cv{
  box-shadow: -11px 11px 18px #0a0b0c,
             11px -11px 18px #282b30;
}

